

body {
  background: url('https://wallpapers.com/images/high/black-car-4k-wnfjwxcbybpwbs08.webp') no-repeat center center fixed;
  background-size: cover;
  color: #333;
  margin: 0;
  padding: 20px;
}

.main-header {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 15px 20px;
  border-bottom: 1px solid #001aff7a;
}

.main-header h1 {
  color: #ffe603;
  font-size: 2.5em;
  margin: 0;
}

.welcome-message {
  max-width: 1200px;
  margin: 10px auto;
  text-align: center;
}

.welcome-message p {
  color: white;
  font-size: 1.2em;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
  border-radius: 8px;
}

/*  FORM STYLES  */
.add-car {
  background-color: rgba(255, 255, 255, 0.226);
  width: 80%;
  max-width: 1000px;
  margin: 20px auto;
  padding: 25px;
  border-radius: 8px;
  color: #0011fd;
}

#add-car-form input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.version-group {
  margin-bottom: 15px;
  padding: 15px;
  background: rgba(249, 249, 249, 0.8);
  border-radius: 6px;
}

/* BUTTONS */
button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s;
}

#save-car-btn {
  background-color: #4CAF50;
  color: white;
}
#save-car-btn:hover {
    background-color: #00fd08;
    color:black
}
